<footer class="page-footer red lighten-1">
  <div class="footer-copyright red darken-1">
    <div class="container">
      © 2017 Universidade do Estado de Santa Catarina - Arino Godinho
      <a class="grey-text text-lighten-4 right">Versão 1.0.0</a>
    </div>
  </div>
</footer>