<div class="row">
  <div class="card-form card-panel z-depth-5">
    <h5 class="center">Pesquisar</h5>
    <form ng-focus="updateTextFields()">
      <!--Datas-->
      <div class="row col s6">
        <label for="initialDate">Data Inicial</label>
        <input id="initialDate" type="date" class="datepicker">
      </div>
      <div class="row col s6">
        <label for="finalDate">Data Final</label>
        <input id="finalDate" type="date" class="datepicker">
      </div>
      <!--Datas-->

      <!--Hora-->
      <div class="row col s4">
        <div class="input-field col s12">
          <input id="hour" type="text" [textMask]="{mask: mask}">
          <label for="hour">Hora</label>
        </div>
      </div>
      <!--Hora-->

      <!--Distancia-->
      <div class="row col s8">
        <div class="input-field col s12">
          <select class="browser-default">
            <option value="" disabled selected>Escolha uma distância</option>
            <option value="1">Curta</option>
            <option value="2">Média</option>
            <option value="3">Longa</option>
          </select>
        </div>
      </div>
      <!--Distancia-->

      <!--Endereco-->
      <div class="row">
        <div class="input-field col s12">
          <input id="origin" 
                 type="text" 
                 autocorrect="off" 
                 autocapitalize="off" 
                 spellcheck="off"
                 class="form-control"
                 [formControl]="searchControl"
                 #searchOrigin>
          <label for="origem" class="active">Origem</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="destination" 
                 type="text"
                 autocorrect="off" 
                 autocapitalize="off" 
                 spellcheck="off"
                 class="form-control"
                 [formControl]="searchControl"
                 #searchDestination>
          <label for="destination" class="active">Destino</label>
        </div>
      </div>
      <!--Endereco-->
    </form>
  </div>

  <!--Mapa-->
  <div class="row">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <!--Mapa-->
</div>