.card-form {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 60vh;
  z-index: 1;
}

.card-panel {
  padding: 10px;
}

.sebm-google-map-container {
  height: 86vh;
  position: relative;
}

.input-field input[type=text]:focus + label {
  color: #616161;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}     

input[type=date]:focus {
  border-bottom: 1px solid #616161;
  box-shadow: 0 1px 0 0 #616161;
}     
