<header>
  <nav>
    <div class="nav-wrapper red darken-1">
      <a class="brand-logo center">
        <i class="material-icons left">directions_bike</i>
        Collector Map
        <i class="material-icons right">directions_car</i>
      </a>
    </div>
  </nav>
</header>